langchain_community
pypdf
unstructured[pdf]
pdfminer.six 
pi_heif
pdf2image
pdfplumber
unstructured
langchain_groq
faiss-cpu
langchain_google_genai
arxiv
langchain-chroma
unstructured[all-docs]
pydantic
lxml
flask
langchain_pymupdf4llm
langchain_astradb
langchain_milvus
rapidocr-onnxruntime